<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section12})">
<head>
<title>My page</title>

</head>

<body>
   
   
   <div class="main-section12">
    <div class="small-container3">
     <div class="small-container-block1">
      <div class="line-height"></div>
       <h2 style="color:rgb(239, 224, 120);margin-left:30px;font-weight:bold">ABOUT COMPANY</h2>
     </div>
    </div>
    
    
    <div class="about-main-section">
     <div class="about-container1">
      
      <div class="about-content1" data-aos="fade-right" data-aos-duration="1000">
      <h1 style="margin-top:10px;margin-left:5px;font-size:45px;font-weight:bold;text-decoration:underline;">About us</h1>
      <p style="padding:5px;top:45px;font-size: 1.1rem;font-family:cursive">AKS Saddles is all about making your ride enjoyable. We provide all kinds of
products that make your horse riding experience easy, comfortable and joyful.<br>
We believe in two things: quality and relationships, you can rely on us for getting the
best quality products and having a place to go and get everything you need for your
horse riding experience.<br><br>
Currently we are based in the UAE. We supply the best horse riding accessories
across the world. What makes us unique is we believe in making your experience
memorable,our priority lies in delivering what we say and saying what we deliver.
An authentic and reliable place for making your horse riding enjoyable.</p>
      </div>
     
     </div>
     <div class="about-image1" data-aos="fade-left" data-aos-duration="1200">
     <img src="../images/horse image1.png" class="image-size1">
     </div>
     <div class="about-container2">
     
     <div class="heading-aboutpage" data-aos="fade-up" data-aos-duration="1200">
     <h1 style="font-weight:400;font-size:30px;border-bottom:2px solid rgba(239, 224, 120);font-style: normal;color:#d3ac67;">EQUESTRAIN BOOTS</h1>
     </div>
     <div class="about-para1" data-aos="fade-up" data-aos-duration="1200">
     <p style="font-size:16px;color:black;text-align:center">The boots are manufactured in a well-
planned unit, housing advanced, versatile and painstakingly-maintained machinery,
run by dedicated, skilled personnel.</p>
     </div>
     <!-- 1st small continer started -->
     <div class="about-small-container1">
     <div class="about-small-cont" data-aos="fade-up" data-aos-duration="1000">
     <h2 style="color:#d3ac67;padding:5px;font-weight:400;font-size:26px">JUMPING SADDLE</ul></h2>
     <p style="top:15px;padding:5px">The jumping saddle, sometimes called a forward seat or close contact saddle,
is designed for show jumping, hunt seat equitation, foxhunting, and the
show jumping and cross-country phases of eventing.</p>
     </div>
     
     <div class="about-small-cont" data-aos="fade-up" data-aos-duration="1000">
     <h2 style="color:#d3ac67;padding:5px;font-weight:400;font-size:26px">GIRTH</ul></h2>
     <p style="top:15px;padding:5px">A girth, sometimes called a cinch (Western riding), is a piece of equipment used to
keep the saddle in place on a horse or other animal. It passes under the barrel of
the equine, usually attached to the saddle on both sides by two or three leather
straps called billets.</p>
     </div>
     </div>
     <!--End of 1st small container  -->

     <!-- 2nd small container started -->
     <div class="about-small-container2">
     <div class="about-small-cont" data-aos="fade-up" data-aos-duration="1000">
     <h2 style="color:#d3ac67;padding:5px;font-weight:400;font-size:26px">CHAPS</ul></h2>
     <p style="top:15px;padding:5px">Chaps are intended to protect the legs of cowboys from contact with daily
environmental hazards seen in working with cattle, horses and other livestock. They
help to protect riders legs from scraping on brush, injury from thorns of cacti,
sagebrush, mesquite and other thorny vegetation.</p>
     </div>
     
     <div class="about-small-cont" data-aos="fade-up" data-aos-duration="1000">
     <h2 style="color:#d3ac67;padding:5px;font-weight:400;font-size:26px">REINS</ul></h2>
     <p style="top:15px;padding:5px">Reins are items of horse tack, used to direct a horse or other animal used
for riding. They are long straps that can be made of leather, nylon, metal, or other
materials, and attach to a bridle via either its bit or its noseband.
A halter or headcollar is headgear that is used to lead or tie up livestock and,
occasionally, other animals; it fits behind the ears (behind the poll), and around the
muzzle. To handle the animal, usually a lead rope is attached.</p>
     </div>
     </div>
     <!--2nd small container closed  -->
     
      </div>
    <!-- 3rd container started for images -->
    <div class="about-container3">
    <div class="about-left-container1">
    <img src="../images/jumping_saddle-removebg-preview.png" class="about-product-images" style="margin-left:80px;" data-aos="flip-left" data-aos-duration="1000">
    <p style="position:absolute;font-size:35px;color:rgb(250, 248, 232);top:275px;left:140px;translate:50%;">Jumping saddle</p>
    <img src="../images/Reins-removebg-preview.png" class="about-product-images" data-aos="flip-left" data-aos-duration="2000">
    <p style="position:absolute;font-size:35px;color:rgb(250, 248, 232);top:275px;left:535px;translate:50%;">Reins</p> 
    </div>
    
    <div class="about-right-container1">
    
    <img src="../images/chaps-removebg-preview.png" class="about-product-images" data-aos="flip-right" data-aos-duration="3000">
   <p style="position:absolute;font-size:35px;color:rgb(250, 248, 232);top:275px;left:190px;translate:50%;">Chaps</p>   
    <img src="../images/Girth-removebg-preview.png" class="about-product-images" data-aos="flip-right" data-aos-duration="4000">
    <p style="position:absolute;font-size:35px;color:rgb(250, 248, 232);top:275px;left:470px;translate:50%;">Girth</p> 
    
    </div>
    </div>
    
    </div>
    
 <script>
 
    $(".nav-link").removeClass("active");
    $("#about-tag").addClass("active");
  
    </script>
       
    </div>
    
    

 




</body>


</html>