<html>
<head>

</head>
<body>

<form action="/Product/save" method="post">
<p>Enter product url</p>
<input type="text" name="productname"><br>
<p>Enter your code</p>
<input type="text" name="productCode"><br>
<p>Enter Product Type </p>
<input type="text" name="productType"><br>
<p>Enter Brand </p><br>
<input type="text" name="brand"><br>
<p>Enter size </p><br>
<input type="text" name="size"><br>
<p>Body Features</p><br>
<input type="text" name="bodyfeatures"><br>
<p>Body Material</p><br>
<input type="text" name="bodymaterial"><br>
<p>colour </p><br>
<input type="text" name="color" required><br>
<input type="submit" value="submit">
</form>

</body>

</html>