<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section1})">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
    <title>Hello, world!</title>
</head>
<body>
   <div class="main-section1">
   <div class="small-container">
   <div class="small-container-block">
   <div class="line-height"></div>
   <h2 style="color:rgb(239, 224, 120);margin-left:30px;text-transform:uppercase;font-weight:bold;">Equestrain Boots</h2>
   </div>
   </div>
   <div class="main-block">
   
   <div class="pro3">
   <div class="main-product">
   <a th:href="@{'/Product/WE0101'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes2.png" class="boots-image">
   <h3 class="heading1">WE0101</h3>
   </div>
   </a>
   <a th:href="@{'/Product/003A'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes1.png" class="boots-image">
   <h3 class="heading1">003A</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/5615'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes3.png" class="boots-image">
   <h3 class="heading1">5615</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5623'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes4.png" class="boots-image">
   <h3 class="heading1">5623</h3>
   </div>
   </a>
   </div>
   </div>
   <div class="pro3">
   <div class="main-product">
   <a th:href="@{'/Product/5622'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes5.png" class="boots-image">
   <h3 class="heading1">5622</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5578'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes6.png" class="boots-image">
   <h3 class="heading1">5578</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/0042'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes7.png" class="boots-image">
   <h3 class="heading1">0042</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5600A'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes8.png" class="boots-image">
   <h3 class="heading1">5600A</h3>
   </div>
   </a>
   </div>
   </div>
   <div class="pro3">
   <div class="main-product">
   <a th:href="@{'/Product/0046'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes9.png" class="boots-image">
   <h3 class="heading1">0046</h3>
   </div>
   </a>
   <a th:href="@{'/Product/0083A'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes10.png" class="boots-image">
   <h3 class="heading1">0083A</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/5581'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes11.png" class="boots-image">
   <h3 class="heading1">5581</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5584'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes12.png" class="boots-image">
   <h3 class="heading1">5584</h3>
   </div>
   </a>
   </div>
   </div>
   <div class="pro3">
   <div class="main-product">
   <a th:href="@{'/Product/5586A'}" style="color:black">
    <div class="product1">
   <img src="../images/shoes13.png" class="boots-image">
   <h3 class="heading1">5586A</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5595'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes14.png" class="boots-image">
   <h3 class="heading1">5595</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/5617'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes15.png" class="boots-image">
   <h3 class="heading1">5617</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5617A'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes31.png" class="boots-image">
   <h3 class="heading1">5617A</h3>
   </div>
   </a>
   </div>
   </div>
   <div class="pro3">
   <div class="main-product">
   <a th:href="@{'/Product/5621'}" style="color:black">
   <div class="product1" href="/5621">
   <img src="../images/shoes17.png" class="boots-image">
   <h3 class="heading1">5621</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5626'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes18.png" class="boots-image">
   <h3 class="heading1">5626</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/5634'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes19.png" class="boots-image">
   <h3 class="heading1">5634</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5636A'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes20.png" class="boots-image">
   <h3 class="heading1">5636A</h3>
   </div>
   </a>
   </div>
   </div>
    <div class="pro3">
    <div class="main-product">
    <a th:href="@{'/Product/WE001'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes21.png" class="boots-image">
   <h3 class="heading1">WE001</h3>
   </div>
   </a>
   <a th:href="@{'/Product/WE003'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes22.png" class="boots-image">
   <h3 class="heading1">WE003</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/5634'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes19.png" class="boots-image">
   <h3 class="heading1">5634</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5636A'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes20.png" class="boots-image">
   <h3 class="heading1">5636A</h3>
   </div>
   </a>
   </div>
   </div>
   <div class="pro3">
   <div class="main-product">
   <a th:href="@{'/Product/5518'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes23.png" class="boots-image">
   <h3 class="heading1">5518</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5519'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes24.png" class="boots-image">
   <h3 class="heading1">5519</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/5521'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes25.png" class="boots-image">
   <h3 class="heading1">5521</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5534'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes26.png" class="boots-image">
   <h3 class="heading1">5534</h3>
   </div>
   </a>
   </div>
   </div>
   <div class="pro3" style="margin-bottom:15px;">
   <div class="main-product">
   <a th:href="@{'/Product/5583'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes27.png" class="boots-image">
   <h3 class="heading1">5583</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5589'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes28.png" class="boots-image">
   <h3 class="heading1">5589</h3>
   </div>
   </a>
   </div>
   <div class="main-product">
   <a th:href="@{'/Product/5625'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes29.png" class="boots-image">
   <h3 class="heading1">5625</h3>
   </div>
   </a>
   <a th:href="@{'/Product/5627'}" style="color:black">
   <div class="product1">
   <img src="../images/shoes30.png" class="boots-image">
   <h3 class="heading1">5627</h3>
   </div>
   </a>
   </div>
   </div>
 
   </div>
   <script>
    $(".nav-link").removeClass("active");
    $("#product-tag").addClass("active");
    </script>
  </div>
</body>

</html>